.vscode
.env
*.pyc
*~
pycache
myvenv
db.sqlite3
/static
.DS_Store
ms2optimization
Pipfile
*.lock
*.json
sumber
ms2optimization
db.sqlite3
/static
.DS_Store
Pipfile
Pipfile.lock
note*
sumber/*
setting.json
*.sql
initialization/config.json
testlearn
.gitignore
